@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-lg antialiased text-slate-500;
}
body::before {
  content: '';
  background-image: url(../images/boxes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -10% right -50%;
  position: absolute;
  top: 0; right: 0;
  width: 50%;
  height: 50vh;
  opacity: 0.5;
}

section {
  @apply my-6;
}

p {
  @apply my-4;
}

a {
  @apply text-rose-400;
}

h1 {
  @apply text-3xl text-blue-400;
}
h2 {
  @apply text-2xl text-red-700;
}
h3 {
  @apply text-xl text-blue-200 uppercase mb-2 mt-4;
}

.primary-container {
  @apply container mx-auto my-2;
}

.btn {
  @apply bg-transparent 
    hover:bg-blue-500 text-blue-700 
    font-semibold  
    hover:text-white 
    py-2 px-4 border 
    border-blue-500 hover:border-transparent rounded;
}

pre, code {
  @apply font-mono;
}
code {
  @apply inline-block py-1 px-2 bg-slate-100 text-red-800 rounded;
}

pre.usage {
  @apply bg-slate-50 border-2 border-blue-300 py-2 px-2;
}

header.primary {
  position: relative;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0, 0.2);
  @apply py-3;
}

header.primary > nav {
  @apply flex;
}

header.primary > nav > a {
  color: theme('colors.red.500');
  @apply mx-2;
}
header.primary > nav > a.brand {
  color: theme('colors.red.700');
  font-weight: bold;
}
header.primary > nav > a.active {
  border-bottom: solid 1px theme('colors.red.700');
}